<li {% if active == 'news' %}class="active"{% endif %}>
    <a href="{{ path('admin_news_index') }}">
        <i class="pe-7s-radio"></i>
        <p>Ultime notizie</p>
    </a>
</li>
<li {% if active == 'event' %}class="active"{% endif %}>
    <a href="{{ path('admin_event_index') }}">
        <i class="pe-7s-timer"></i>
        <p>Eventi</p>
    </a>
</li>
<li {% if active == 'photo' %}class="active"{% endif %}>
    <a href="{{ path('admin_photoalbum_index') }}">
        <i class="pe-7s-photo"></i>
        <p>Galleria Foto</p>
    </a>
</li>
<li {% if active == 'video' %}class="active"{% endif %}>
    <a href="{{ path('admin_video_index') }}">
        <i class="pe-7s-film"></i>
        <p>Galleria Video</p>
    </a>
</li>
