{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Contatti{% endblock %}

{% block menu %}
    {{ include('menu.html.twig', {'active': 'contact'}) }}
{% endblock %}

{% block body %}
    <div class="img-head">
        <img src="{{ asset('images/mission.png') }}" class="img-responsive" />
    </div>

    <div class="container main-box">
        <div class="row">
            <div class="col-sm-12 main-cell">
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2977.565045832578!2d12.287407915905662!3d41.72990367923429!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1325efd7643eeebd%3A0x62eb25884d3bfda9!2sViale+Capitan+Casella%2C+3%2C+00122+Lido+di+Ostia+RM!5e0!3m2!1sit!2sit!4v1479383489121" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="addresses">
                    <address>
                        <strong>Cavallino Bianco Onlus</strong><br/>
                        Via Capitan Casella 3B<br/>
                        00122, Lido di Ostia
                    </address>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
