{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Area Formativa{% endblock %}

{% block body %}
    <div class="img-head img-aree">
        <img src="{{ asset('images/area2.png') }}" class="img-responsive" />
    </div>

    <div class="container-fluid main-box">
        <h2>Area formativa</h2>

        <p>
        Parallelamente all’attività clinica, il Centro mette a disposizione le competenze e l’esperienza della propria équipe nella realizzazione di <strong>corsi formativi</strong> quali occasioni di aggiornamento e approfondimento declinate in <strong>singoli incontri</strong> o in <strong>percorsi</strong>,  riservati a genitori, insegnanti e professionisti.
        </p>

        <p>
        L’Associazione Cavallino Bianco Onlus ritiene fondamentale mantenere alta l’attenzione sulla formazione specifica degli operatori delle varie discipline impegnati nel sostegno al percorso di crescita delle famiglie e della comunità.<br/>
        E’ necessario potenziare le abilità di chi si accosta alle problematiche legate allo sviluppo ed all’apprendimento dei ragazzi con l’obiettivo di creare esperienze formative approfondite ed esaustive. L’elemento cruciale delle nostre attività è quello di attivare una riflessione condivisa sull’esperienza formativa come spazio e tempo per comprendere quali risorse abbiamo da dare al percorso di crescita degli altri e quali possiamo potenziare.<br/>
        La finalità è quella di fornire ai partecipanti gli strumenti teorici e pratici per riconoscere e gestire in modo efficace varie situazioni problematiche connesse all’età evolutiva ed elaborare strategie operative per facilitare lo sviluppo e l’intervento in rete con tutte le figure professionali che sostengono le famiglie.
        </p>

        <p>
        In particolare, la Legge dell'8 ottobre 2010, nº 170, riconosce la dislessia, la disgrafia, la disortografia e la discalculia quali disturbi specifici di apprendimento, denominati “DSA”. La stessa legge e le linee guida della Consensus Conference delineano ruoli e funzioni delle figure professionali che a diverso titolo operano per facilitare l’apprendimento e potenziare l’autostima del minore con DSA. 
        </p>

        <p>
        Tra queste il Tutor è un professionista indispensabile perché aiuta i ragazzi nello sviluppo di un metodo di studio efficace, facendo da collegamento tra la famiglia, la scuola, e coloro che si occupano della diagnosi e della riabilitazione (neuropsichiatra, psicologo, logopedista, ecc.).<br/>
        Il Corso di professionalizzazione TUTOR DSA promuove lo sviluppo di competenze immediatamente spendibili tra le quali anche: Saper implementare una programmazione educativo-didattica di supporto e di potenziamento allo studio e allo svolgimento dei compiti a casa; sviluppare un efficace e personalizzato metodo di studio; saper pianificare specifiche metodologie di apprendimento; saper utilizzare le tecnologie di ausilio all’apprendimento (libri digitali, software, etc.); saper gestire attività di doposcuola specialistici sui DSA; saper leggere una diagnosi e un Piano Didattico Personalizzato (PDP) e conoscere la normativa sui DSA e sui BES; saper dialogare con la scuola, la famiglia e i diversi professionisti;
        </p>

        <p>
        Le consolidate partnership tra il Cavallino Bianco e le numerose realtà scientifiche, enti pubblici e privati e i presidi sanitari presenti sul territorio, permettono agli allievi un outplacement più efficace in rapporto alla reale richiesta del mercato di lavoro.
        </p>

        <p>
        I corsi si propongono con un taglio prevalentemente pratico. A tal fine, saranno privilegiate, oltre alle classiche lezioni frontali, esercitazioni e discussione in gruppo, supervisioni, analisi di casi clinici reali, role-playing.
        </p>

        <p>
        DESTINATARI DEI CORSI<br/>
        Pedagogisti, psicopedagogisti, insegnanti, educatori professionali, psicologi e psicoterapeuti, laureandi in psicologia e/o specializzandi in psicoterapia, logopedisti, neuropsicomotricisti ed altre figure professionali che a diverso titolo lavorano nell’ambito dello sviluppo.
        </p>

        <p>
        Per i genitori ed insegnanti durante l’anno sono previste giornate di studio e riflessioni condivise
        </p>

        <div class="table-responsive">
            <table class="equipe-table table table-hover table-condensed">
                <tbody>
                    <tr>
                        <td><h3>Psicologa/Psicoterapeuta</h3></td>
                        <td>
                            <a class="name" href="#collapse3" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapse3">Dott.ssa Alessia Carleschi</a>
                            <div class="collapse" id="collapse3">
                                Psicologa clinica e di comunità. Psicoterapeuta e Specialista in Psicologia della Salute presso l’ Università degli Studi “La Sapienza” di Roma.<br>
                                Iscritta all'Ordine degli Psicologi del Lazio - Numero iscrizione 10740<br>&nbsp;
                                Dottore di ricerca in Psicologia dinamica, clinica e dello sviluppo in dicembre 2012. <br>
                                Dal 2005-2012, Docente a contratto presso la Facoltà di Psicologia l’università Sapienza di Roma, dal 2006-2013, Docente a contratto per i corsi di aggiornamento per le insegnanti del Comune di Roma.<br>
                                Esperta in progettazione, coordinamento, valutazione in ambito clinico e di ricerca per bambini a sviluppo tipico ed atipico.<br>
                                Ha competenze sulla presa in carico, valutazione di persone e famiglie con disabilità e Disturbi Specifici dell'Apprendimento (DSA) e con Bisogni Educativi Speciali (BES), lavorando in rete con famiglia e scuola.<br>
                                Da più di 15 anni collabora con la Aidp Sezione di Roma (progetti infanzia, sostegno alla genitorialità, lavoro di rete con i nidi e le scuole dell’infanzia).<br>
                                Si occupa di accompagnamento, sostegno alle coppie nel pre e post adozione, sostegno alla genitorialità, monitoraggio dello sviluppo dei bambini adottati.<br>
                                Coordina le attività di formazione e progettuali per l’Associazione Cavallino Bianco Onlus dal 2015.<br>
                                    Si occupa di formazione a logopedisti, psicologi e pedagogisti presso strutture private e/o pubbliche.<br/>
                                <a href="#collapse3" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapse3">
                                    chiudi
                                </a>
                            </div>
                        </td>
                        <td>
                            <a class="name" href="#collapse4" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapse4">Dott.ssa Licia Spataro</a>
                            <div class="collapse" id="collapse4">
                                Psicoterapeuta e Specialista in Psicologia della Salute presso Università degli Studi “Sapienza” in Roma.<br>
                                Iscritta all'Ordine degli Psicologi del Lazio - Numero iscrizione 18785. Membro SIPSA (Società Italiana di Psicologia della Salute) dal 2010.<br>
                                Da più di 10 anni collabora con la ASL ROMA-D (Servizi territoriali per la salute mentale) e lavora in rete con il Territorio del X Municipio per il coordinamento delle azioni relative al processo di integrazione/inclusione scolastica in sinergia con le Scuole per la costruzione e la realizzazione di progetti di intervento concernenti la promozione della salute, della qualità della vita e del benessere della persona e della famiglia nel suo ambiente familiare e sociale.<br>
                                Esperta in progettazione, coordinamento, ed attuazione di progetti per la formazione professionale, la rilevazione del fabbisogno formativo e delle necessità strumentali e strutturali degli studenti e degli insegnanti in situazioni di Diverse Abilità e/o con Disturbi Specifici dell'Apprendimento (DSA) e con Bisogni Educativi Speciali (BES) comprese consulenze scolastiche e la partecipazione.<br>
                                Dal 2010 al 2012 è stata Docente per la Regione Lazio per Corsi di formazione professionale e sviluppo istituzionale, riqualificazione professionale per lavoratori in relazione a nuove fonti di occupazione.<br>
                                Coordina le attività cliniche, organizzative e progettuali per l’Associazione Cavallino Bianco Onlus dal 2015.<br>
                                <a href="#collapse4" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapse4">
                                    chiudi
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><h3>Logopedista</h3></td>
                        <td>
                            <a class="name" href="#collapse1" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapse1">Dott.ssa Sonia Chialtri</a>
                            <div class="collapse" id="collapse1">
                                    Svolge la propria attività presso il suo studio privato in Roma, in collaborazione con altre figure professionali (logopedisti, neuropsicomotricisti, psicoterapeuti, psicologi clinici ed optometristi), in ambito infantile da circa diciotto anni.<br/>
                                    Si occupa di formazione a logopedisti, psicologi e pedagogisti presso strutture private e/o pubbliche.<br/>
                                <a href="#collapse1" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapse1">
                                    chiudi
                                </a>
                            </div>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><h3>Pedagogista</h3></td>
                        <td>
                            <a class="name" href="#collapse2" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapse2">Dott.ssa Federica Iurcovich</a>
                            <div class="collapse" id="collapse2">
                                Laureata in Scienze dell’Educazione e della Formazione all’Università “La Sapienza” di Roma, ha maturato esperienza nel campo dell’insegnamento, lavorando a stretto contatto con bambini nell’età dell’apprendimento.<br/>
                                Specializzata nel Metodo Feuerstein e nei disturbi dell’apprendimento.<br/>
                                Insegnante ed Esperta Tutor Dsa .Referente presso Logogen di Roma per l'area Tutor.<br/>
                                <a href="#collapse2" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapse2">
                                    chiudi
                                </a>
                            </div>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
