{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Area Formativa{% endblock %}

{% block body %}
    <div class="img-head">
        <img src="{{ asset('images/chisiamo.jpg') }}" class="img-responsive" />
    </div>

    <div class="container-fluid main-box">
        <h2>Area formativa</h2>

        <p>
        Parallelamente all’attività clinica, il Centro mette a disposizione le competenze e l’esperienza della propria équipe nella realizzazione di <strong>corsi formativi</strong> quali occasioni di aggiornamento e approfondimento declinate in <strong>singoli incontri</strong> o in <strong>percorsi</strong>,  riservati a genitori, insegnanti e professionisti.
        </p>

        <p>
        L’Associazione Cavallino Bianco Onlus ritiene fondamentale mantenere alta l’attenzione sulla formazione specifica degli operatori delle varie discipline impegnati nel sostegno al percorso di crescita delle famiglie e della comunità.<br/>
        E’ necessario potenziare le abilità di chi si accosta alle problematiche legate allo sviluppo ed all’apprendimento dei ragazzi con l’obiettivo di creare esperienze formative approfondite ed esaustive. L’elemento cruciale delle nostre attività è quello di attivare una riflessione condivisa sull’esperienza formativa come spazio e tempo per comprendere quali risorse abbiamo da dare al percorso di crescita degli altri e quali possiamo potenziare.<br/>
        La finalità è quella di fornire ai partecipanti gli strumenti teorici e pratici per riconoscere e gestire in modo efficace varie situazioni problematiche connesse all’età evolutiva ed elaborare strategie operative per facilitare lo sviluppo e l’intervento in rete con tutte le figure professionali che sostengono le famiglie.
        </p>

        <p>
        In particolare, la Legge dell'8 ottobre 2010, nº 170, riconosce la dislessia, la disgrafia, la disortografia e la discalculia quali disturbi specifici di apprendimento, denominati “DSA”. La stessa legge e le linee guida della Consensus Conference delineano ruoli e funzioni delle figure professionali che a diverso titolo operano per facilitare l’apprendimento e potenziare l’autostima del minore con DSA. 
        </p>

        <p>
        Tra queste il Tutor è un professionista indispensabile perché aiuta i ragazzi nello sviluppo di un metodo di studio efficace, facendo da collegamento tra la famiglia, la scuola, e coloro che si occupano della diagnosi e della riabilitazione (neuropsichiatra, psicologo, logopedista, ecc.).<br/>
        Il Corso di professionalizzazione TUTOR DSA promuove lo sviluppo di competenze immediatamente spendibili tra le quali anche: Saper implementare una programmazione educativo-didattica di supporto e di potenziamento allo studio e allo svolgimento dei compiti a casa; sviluppare un efficace e personalizzato metodo di studio; saper pianificare specifiche metodologie di apprendimento; saper utilizzare le tecnologie di ausilio all’apprendimento (libri digitali, software, etc.); saper gestire attività di doposcuola specialistici sui DSA; saper leggere una diagnosi e un Piano Didattico Personalizzato (PDP) e conoscere la normativa sui DSA e sui BES; saper dialogare con la scuola, la famiglia e i diversi professionisti;
        </p>

        <p>
        Le consolidate partnership tra il Cavallino Bianco e le numerose realtà scientifiche, enti pubblici e privati e i presidi sanitari presenti sul territorio, permettono agli allievi un outplacement più efficace in rapporto alla reale richiesta del mercato di lavoro.
        </p>

        <p>
        I corsi si propongono con un taglio prevalentemente pratico. A tal fine, saranno privilegiate, oltre alle classiche lezioni frontali, esercitazioni e discussione in gruppo, supervisioni, analisi di casi clinici reali, role-playing.
        </p>

        <p>
        DESTINATARI DEI CORSI<br/>
        Pedagogisti, psicopedagogisti, insegnanti, educatori professionali, psicologi e psicoterapeuti, laureandi in psicologia e/o specializzandi in psicoterapia, logopedisti, neuropsicomotricisti ed altre figure professionali che a diverso titolo lavorano nell’ambito dello sviluppo.
        </p>

        <p>
        Per i genitori ed insegnanti durante l’anno sono previste giornate di studio e riflessioni condivise
        </p>
    </div>
{% endblock %}
