{% extends 'base.html.twig' %}

{% block body %}
    <div id="backhome">
        <img src="{{ asset('images/home3.jpg') }}" class="img-responsive" />
    </div>

    <div class="homelogo">
        <img src="{{ asset('images/cavallino02.png') }}" class="img-responsive" />
    </div>
{% endblock %}
