{% extends 'base.html.twig' %}

{% block menu %}
    {{ include('menu.html.twig', {'active': 'mission'}) }}
{% endblock %}

{% block body %}
    <div class="img-head">
        <img src="{{ asset('images/mission.png') }}" class="img-responsive" />
    </div>

    <div class="container main-box">
        <div class="row">
            <div class="col-sm-8 main-cell">
                <h2>La storia</h2>
                <div>
                    Quisque finibus elit tristique nisi consequat, non dictum mi tincidunt. Nunc ipsum elit, porttitor eget scelerisque sed, lacinia id arcu. In fermentum mi eu finibus ullamcorper. Curabitur a lectus at nulla blandit bibendum quis ac erat. Fusce interdum commodo augue id vehicula. Nullam a ante non leo vestibulum ornare. Suspendisse erat ante, tincidunt eu justo et, cursus vestibulum justo. Pellentesque consequat nibh quis urna iaculis scelerisque. Mauris sit amet dapibus neque.<br/><br/>
                    Pellentesque a quam dictum, iaculis ante sed, auctor neque. In consectetur lacus in nulla dictum, vitae condimentum neque auctor. In eu finibus felis. In hac habitasse platea dictumst. Duis aliquet dolor in dui pellentesque, nec commodo nulla venenatis. Pellentesque erat nibh, commodo at nibh sit amet, semper rutrum ex. Curabitur auctor dignissim ultrices. Aenean risus tortor, egestas eget elit ac, suscipit vestibulum neque. Maecenas auctor dictum pharetra. Pellentesque sed orci imperdiet lectus venenatis fermentum. Nullam semper lacus eros, ut placerat nulla consequat eu. Nulla et tortor aliquet, vulputate nibh vitae, euismod mauris. Cras ut rhoncus ipsum. Cras sit amet ligula suscipit, dictum urna sed, malesuada arcu. Phasellus tempor, lorem at pulvinar aliquet, turpis ipsum aliquam nisl, ut venenatis quam purus vitae sapien.
                </div>

                <h2>I soci</h2>
                <div>
                    Curabitur urna dui, condimentum eu elementum ac, iaculis a purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer efficitur, velit quis lacinia ullamcorper, felis arcu cursus ante, a mattis diam mauris at est. Pellentesque vel lacinia libero. Mauris luctus tortor non turpis aliquam fringilla. Sed suscipit sodales velit, eu blandit nulla condimentum a. Nunc eu purus ut arcu sagittis volutpat. Aenean semper tincidunt ex eu convallis. Mauris tempor felis sed elementum tincidunt. Nulla id tempus enim. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean eu mi odio. Cras ac augue eu enim ultricies lobortis. Vestibulum nec lacus consequat, auctor erat et, lacinia dolor.
                </div>

                <h2>Lettera</h2>
                <div>
                    Duis nibh dui, semper at congue et, sollicitudin et metus. Donec turpis massa, eleifend non dui et, eleifend porttitor metus. Etiam semper sapien nisl, in pulvinar massa tempus id. Sed dapibus blandit pretium. Aenean imperdiet accumsan metus bibendum condimentum. Duis vel rutrum felis. Nulla vitae malesuada nisl. Donec diam orci, porta sed velit non, placerat tincidunt erat. Proin placerat finibus erat ut auctor. Sed imperdiet libero at mi malesuada mattis. Sed in aliquam quam, ac aliquet felis. Nullam pulvinar ex mattis diam volutpat, ac porttitor nulla dictum.
                </div>

                <h2>Statuto</h2>
                <div>
                    Nullam in pellentesque metus. Aliquam in risus non elit porta malesuada. Morbi gravida vestibulum sapien. Pellentesque tristique finibus nisi in pretium. Nam quis finibus lectus. Aenean euismod, arcu ac dapibus lobortis, tellus metus posuere leo, ut posuere sapien urna sit amet sem. Cras volutpat, ante et venenatis pulvinar, est neque consectetur orci, id venenatis risus ipsum non quam. Morbi dapibus tincidunt dolor eget vestibulum. Quisque malesuada sollicitudin bibendum.
                </div>

            </div>
            <div class="col-sm-3 col-sm-offset-1 right-cell">
                <h2>Ultime notizie</h2>
            </div>
        </div>
    </div>
{% endblock %}
