{% extends 'base.html.twig' %}

{% block menu %}
    {{ include('menu.html.twig', {'active': 'mission'}) }}
{% endblock %}

{% block body %}
    <div class="img-head">
        <img src="{{ asset('images/mission.png') }}" class="img-responsive" />
    </div>

    <div class="container main-box">
        <div class="row">
            <div class="col-sm-8 main-cell">
                <h2>La storia</h2>
                <h2>I soci</h2>
                <h2>Lettera</h2>
                <h2>Statuto</h2>
            </div>
            <div class="col-sm-3 col-sm-offset-1 right-cell">
                <h2>Ultime notizie</h2>
            </div>
        </div>
    </div>
{% endblock %}
