{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Presentazione{% endblock %}

{% block menu %}
    {{ include('menu.html.twig', {'active': 'mission'}) }}
{% endblock %}

{% block body %}
    <div class="img-head">
        <img src="{{ asset('images/chisiamo.jpg') }}" class="img-responsive" />
    </div>

    <div class="container-fluid main-box">
        <h2>A chi ci rivolgiamo</h2>
        <div>
            Il Centro C.B.O. si rivolge al singolo, alla coppia, alla famiglia nel suo insieme e alla persona nel ciclo di vita.<br/> 
            E’ un luogo di ascolto e di presa incarico per la persona che vive situazioni di difficoltà, offrendo percorsi di sostegno.<br/> 
            E’ un luogo di promozione della salute e del benessere sociale ed individuale, promuovendo iniziative che possano essere di aiuto in tal senso.<br/>
        </div>

        <h2>Lettera del Presidente</h2>
        <div>
            <p>
            L’Associazione “CAVALLINO BIANCO” Onlus si prefigge di dare un apporto tangibile alle problematiche della persona introducendo UN SERVIZIO INTEGRATO dove un’equipe di Medici, Psicologi, Logopedisti, Terapisti della Riabilitazione sono chiamati ad applicare dei protocolli coerenti con le Linee Guida per la Tutela della Salute Mentale in età evolutiva (0-18 anni) al fine di soddisfare i bisogni delle persone. 
            </p>
            Le strutture esistenti sul territorio del X Municipio sono insufficienti in proporzione alla numerosità della popolazione del territorio perché le terapie hanno una durata di più anni e di conseguenza i tempi di attesa della presa in carico risultano lunghi.<br/> 
            Pertanto l’Associazione può offrire uno spazio clinico che risponda a queste esigenze.<br/> 
            L’Associazione “CAVALLINO BIANCO” Onlus auspica di dare un grande e sincero contributo alle nuove generazioni.<br/> 
            <div style="float:right">
                Il Presidente<br/> 
                Antonio Nocera 
            </div>
            <div style="clear:both"></div>

        </div>

    </div>
{% endblock %}
