{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Area Psicologica e Clinica{% endblock %}

{% block body %}
    <div class="img-head">
        <img src="{{ asset('images/chisiamo.jpg') }}" class="img-responsive" />
    </div>

    <div class="container-fluid main-box">
        <h2>Area psicologica e clinica</h2>
        <div>
            Il Centro offre interventi personalizzati rivolti alle persone, alle famiglie, ai bambini, preadolescenti, adolescenti e genitori, giovani adulti, adulti, coppie e gruppi in un'ottica integrata e globale, propria della Psicologia della Salute.<br/> 
            Il modello di lavoro, sia nella fase valutativa che in quella terapeutica, è di tipo <strong>integrato</strong> e <strong>multidisciplinare</strong>, tiene cioè in considerazione diversi aspetti del funzionamento della persona (cognitivi, neuropsicologici, linguistici, emotivi e relazionali) ed è fondato su un'ottica di Psicologia della Salute (Bertini, 2010), al fine di promuovere il benessere sociale ed individuale della persona che richiede sostegno.
        </div>

        <h2>Attività</h2>
        <div>
            Le attività comprese nell'area psicologico-clinica comprendono:
            <ul>
                <li>Valutazione, Consulenza e Sostegno psicologico</li>
                <li>Psicoterapia individuale (modello di intervento: dinamico, sistemico, cognitivo comportamentale)</li>
                <li>Psicoterapia di coppia, familiare e di gruppo</li>
                <li>Sostegno alla genitorialità e Parent training</li>
            </ul>
        </div>

        <p>
            L'uso di strumenti conoscitivi e di interventi per la prevenzione, la promozione, la diagnosi, le attività di abilitazione–riabilitazione e di sostegno, comprende altresì percorsi <strong>personalizzati</strong> in base all’età della persona e del minore e al tipo di problema presentato.
        </p>

        <p>
            Il servizio di consulenza C.B.O. ha l’obiettivo di individuare gli aspetti problematici e di aiutare la famiglia ad incoraggiare e sostenere il processo di crescita dei membri, nel rispetto dei tempi individuali e familiari. 
        </p>

        <p>
            Il Servizio <strong>0-5 anni</strong> è pensato per genitori che hanno figli in età prescolare che manifestano difficoltà sul versante linguistico, comportamentale, emozionale o relazionale.
        </p>

        <p>
            Tra le difficoltà più comuni in questa fascia d’età si riscontrano ritardi o disturbi nell’acquisizione del linguaggio, comportamenti di aggressività verso i pari e gli adulti, scarso rispetto delle regole, ritiro e chiusura, difficoltà di separazione dalle figure genitoriali. A volte questi problemi sono transitori, altre volte costituiscono l’esordio di successivi disturbi psicopatologici. L’obiettivo della consultazione è comprendere e gestire le difficoltà attuali ma soprattutto prevenire quelle future.
        </p>

        <p>
            I bambini di età compresa <strong>tra i 6 e i 12 anni</strong> manifestano difficoltà che possono riguardare l’apprendimento scolastico, il comportamento o gli aspetti emotivi – relazionali.
            L’obiettivo della consultazione è fornire ai genitori una chiave di lettura delle difficoltà del figlio ed impostare un percorso finalizzato al miglioramento della situazione a partire dalla valutazione in cui vengono approfonditi gli aspetti cognitivi, neuropsicologici, emotivi, comportamentali e relazionali. Se vengono riscontrati difficoltà in ambito scolastico il Centro promuove incontri con le insegnanti al fine di focalizzare l’intervento.
        </p>

        <p>
            Durante <strong>l'adolescenza</strong> si attraversa un processo evolutivo di elevata complessità che merita un’attenzione particolare. L’equilibrio che si era stabilito durante l’infanzia tende a vacillare, proprio in un momento di massima crescita da un punto di vista biologico e psicologico. I ragazzi si trovano a dover costruire una nuova immagine di sé, conciliando i rapidi cambiamenti indotti dalle modificazioni fisiologiche con le forti pressioni sociali provenienti dal mondo esterno. È frequente che gli adolescenti manifestino difficoltà a comunicare con gli adulti, che a loro volta mostrano un elevato grado di difficoltà a comprendere i ragazzi, ad accettarne il cambiamento e a rispondere positivamente ai loro nuovi, e spesso contraddittori, bisogni: di autonomia, ma anche di protezione e di conferma.
        </p>

        <p>
            Obiettivo della <em>valutazione</em> è fornire una <strong>chiave di lettura</strong> del problema attraverso l’integrazione di più livelli di analisi per progettare l’intervento.
        </p>
    </div>
{% endblock %}
