{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Area Psicopedagogica{% endblock %}

{% block body %}
    <div class="img-head">
        <img src="{{ asset('images/chisiamo.jpg') }}" class="img-responsive" />
    </div>

    <div class="container-fluid main-box">
        <h2>Area psicopedagogica</h2>
        <div>
            All'interno dell'area pedagogica gli interventi sono rivolti all'assistenza, la consulenza ed il supporto ai genitori ed alle figure professionali scolastiche, nonché alle attività didattico-educative con bambini e ragazzi come:
            <ul>
                <li><strong>Tutoraggio</strong> per strategie di apprendimento in sede, a scuola e domiciliare</li>
                <li>Assidua collaborazione con le figure che sono inserite negli Istituti Scolastici</li>
                <li><strong><em>Colloqui di rete</em></strong> scuola-famiglia, GLHO e consulenze scolastiche</li>
                <li>Sportello d’Ascolto  nelle scuole</li>
                <li><strong><em>Attività laboratoriali</em></strong> esperienziali-espressive individuali e di gruppo per la promozione ed il potenziamento dei prerequisiti e delle competenze scolastiche</li>
                <li><strong>Interventi personalizzati per DISTURBI SPECIFICI DELL’APPRENDIMENTO (DSA) e DISTURBI DELL’ETA’ EVOLUTIVA (BES)</strong></li>
            </ul>
        </div>

        <h2>Attività</h2>
        <div>
            Le attività mirano al :
            <ul>
                <li>Potenziamento della letto-scrittura e delle strategie di calcolo e ragionamento logico-matematico;</li>
                <li>Potenziamento dei tempi di attenzione;</li>
                <li>Orientamento scolastico e professionale.</li>
                <li>Attività di promozione culturale;</li>
                <li>Implementazione e sviluppo di percorsi di crescita e cambiamento.</li>
                <li>Progettazione delle attività educative, ricreative, ludiche, rieducative, riabilitative e formative a garanzia del progetto di vita personale e comunitario;</li>
                <li>Gestione delle dinamiche inter-personali e intra-personali nella relazione d'aiuto e fare interventi di consulenza e supervisione pedagogica delle equipe educative e multi-professionali;</li>
                <li>Supportare e offrire consulenza e formazione ad educatori professionali e non professionali e ad operatori socio-sanitari, socio-assistenziali e culturali.</li>
                <li>Organizzazione di attività tese a sviluppare abilità verbali e mimico gestuali, favorire la fiducia nelle proprie capacità che si accompagna ad un processo di costruzione di assertività, di empowerment, di autostima e stima reciproca nel gruppo, nonché di senso di collettività e di comunità, l’espressione delle emozioni.</li>
                <li>Gestione delle attività manipolative, di coordinazione oculo-manuale, di motricità grosso-fine, di produzione creativa ed espressiva e le attività aiutano a comprendere che le immagini costituiscono un linguaggio e che attraverso di esse si può comunicare esprimendo emozioni e informazioni.</li>
            </ul>
        </div>

        <p>
        Le attività sono destinate a bambini e ragazzi di tutte le età sia con sviluppo evolutivo tipici sia con DSA (Disturbo Specifico dell’Apprendimento) e con BES (Bisogni Educativi Speciali), secondo i parametri rispettivamente della Legge n.170 dell’8 Ottobre 2010 e della Direttiva Ministeriale del 27 Dicembre 2012.<br/>
            Nello specifico le attività principali del tutor sono quelle dedicate al potenziamento delle competenze a seconda delle difficoltà riscontrate:
            <ul>
                <li>Attività di pre-grafismo, premessa indispensabile alla letto-scrittura;</li>
                <li>Lettura sub lessicale e analisi sillabica (uso di ausili cartacei e informatici);</li>
                <li>Potenziamento delle abilità della letto-scrittura e di comprensione del testo orale e scritto, potenziamento delle capacità di sintesi e di schematizzazione;</li>
                <li>Sviluppo delle abilità logico-matematiche e di calcolo;</li>
                <li>Potenziamento dell’espressione orale e scritta.</li>
            </ul>
        </p>

        <p>
            Tutto ciò viene realizzato attraverso l’uso di tecniche e strategie riconosciute e personalizzate per ognuno, nel rispetto della diversità individuale di ragionamento ed operativa (uso di mappe concettuali, del linguaggio per immagini, etc.). Su richiesta si possono attivare attività di piccolo gruppo, dove i più esperti potranno farsi da <em>tutor</em> ed aiutanti degli altri, in linea col concetto dell’Educazione tra pari, trasversale a tutti i gruppi. 
        </p>
    </div>
{% endblock %}
