body{
    background-color:#f7ffff !important;
    background-image: url(../images/cavallinotras.jpg), url(../images/bg2.jpg);
    background-repeat:no-repeat;
    background-position:left bottom, right;
    background-attachment:fixed;
    background-size: 15%;
}

@media (min-width: 1439px){
    body{
        background-size: 30%;
    }
}

@media (min-width: 2560px){
    body{
        background-size: 35%;
    }
}

.frame{
    max-width:800px;
    margin-top:40px;
    margin-bottom:40px;
    padding-left:0 !important;
    padding-right:0 !important;
    border:1px solid #333;
    background-color:#fff;
}

@media (max-width:1023px){
    body{
        background-image:none;
    }

}

.header{
    padding-top:10px;
    padding-left:15px;
    padding-right:15px;
    background-color:#e7ffff;
}

.header-img{
    padding-left:0 !important;
}

.header-slogan{
    position:relative;
    left:36%;
    font-size:1em;
}

.carousel-container{
    width:96%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
    background-color:#b7cad9;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding:20px 20px;
}

/* Menu */
.navbar-default {
    background-image:none !important;
    background-color: #013654 !important;
    border-color: #004a74 !important;
}
.navbar-default .navbar-brand {
    color: #ecf0f1 !important;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ecdbff !important;
}
.navbar-default .navbar-text {
    color: #ecf0f1 !important;
}
.navbar-default .navbar-nav > li > a {
    color: #ecf0f1 !important;
    padding-left:8px !important;
    padding-right:8px !important;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ecdbff !important;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #013654 !important;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ecf0f1 !important;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #000 !important;
    background-color: #004a74 !important;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #004a74 !important;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    background-image: none !important;
    color: #ecdbff !important;
    background-color: #004a74 !important;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-image: none !important;
    color: #ecdbff !important;
    background-color: #004a74 !important;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-image: none !important;
    color: #ecdbff !important;
    background-color: #004a74 !important;
}
.navbar-default .navbar-toggle {
    border-color: #004a74 !important;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #004a74 !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1 !important;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ecf0f1 !important;
}
.navbar-default .navbar-link {
    color: #ecf0f1 !important;
}
.navbar-default .navbar-link:hover {
    color: #ecdbff !important;
}

@media (max-width: 1023px) {
.navbar-default .navbar-nav > li > a {
    color: #ecf0f1 !important;
    padding-left:6px !important;
    padding-right:6px !important;
}
}
/* Fine Menu */

.carousel-caption h1{
    font-weight:bold;
    color:#333 !important;
    text-shadow:0 1px 1px rgba(0,0,0,.4)
}

.event-caption h1{
    color:#c12a23 !important;
}

.btn-event{
    background-image:none !important;
    background-color:#c12a23 !important;
}

.carousel-caption{
    color:#333 !important;
}

.btn-large{
    font-size:2em !important;
    padding:10px 15px !important;
}

.rightplane{
    float:right;
    margin-right:20px;
    margin-bottom:4px;
}

.leftplane{
    margin-left:110px;
}

.slogan{
    margin-top:20px;
    margin-bottom:10px;
    font-family: 'Signika Negative', sans-serif;
    font-size:1.5em;
    color: #013654;
    font-weight:bold;
    text-align:center;
    background-color: #013654;
    clear:both;
}

.slogan1{
    color:#7cb7dc;
}

.slogan2{
    color:#fff;
}

.slogan3{
    color:#7395f0;
}

/* Eventi Homepage */
.event-home{
    margin-top:20px;
    margin-bottom:40px;
    font-family: 'Signika Negative', sans-serif;
}

.event-homepage{
    margin-bottom:10px;
}

.date{
    background-color:#013654;
    color:#fff;
    text-align:center;
    padding:0 !important;
    padding-bottom:6px !important;
}

.day{
    font-size:3em;
    font-weight:bold;
}

.month-year{
    margin-top:-10px;
}

.event-content{
    margin-top:-24px !important;
    padding-top:0 !important;
}

/* Fine Eventi Homepage */


.event-single{
    margin-bottom:10px;
    padding-left:10px;
}

/* Link Siti Consigliati */
.link > h3 {
    color:#fff;
    padding-top:4px;
    padding-bottom:4px;
    padding-left:20px;
    background-color:#013654;
}    

.link > ul{
    list-style:none;
}

.link > ul > li > a{
    font-size:1.5em !important;
}
/* Fine Link Siti Consigliati */

.info{
    margin-top:30px;
    margin-bottom:20px;
    font-family: 'Signika Negative', sans-serif;
}

.info-box{
    min-height:200px !important;
    background-color:#fff;
    border:1px solid #013654;
    text-align:center;
}

.info-title{
    font-size:1.5em;
    color:#4267b2;
}

.facebook-img{
    width:140px;
    margin-top:8px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
}

.facebook-desc{
    margin-bottom:20px;
}

.facebook-desc a{
    color:#4267b2;
    font-size:1.5em;
    text-decoration:none;
}

.main-cell > h3, .main-box > h2{
    font-family: 'Signika Negative', sans-serif;
    color:#013654;
}

/* Gallery */
.img-circle{
    width:350px !important;
    height:250px !important;
}

.album-thumb{
    text-align:center;
}

.album-thumb > a{
    font-family: 'Signika Negative', sans-serif;
    font-size:1.3em;
}

.img-thumbnail{
    height:160px !important;
    width:160px !important;
}

.gallery-row{
    margin-bottom:10px;
}
/* Fine Gallery */

/* Equipe */
.equipe-table > tbody > tr > td > a.name{
    font-size:1.5em !important;
}

.equipe-table > tbody > tr > td{
    vertical-align:middle !important;
}
/* Fine Equipe */

/* Aree Servizi */
.img-aree{
    padding-left:20% !important;
    padding-right:auto !important;
}

.document-desc{

}
/* Fine Aree Servizi */

/* Servizi Integrativi */
.pdf-icon{
    width:60px;
    height:62px;
}
/* Fine Servizi Integrativi */

.event-document{
    text-align:center;
}

/* Flexible iFrame */

.Flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.Flexible-container iframe,   
.Flexible-container object,  
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Fine Flexible iFrame */


.donazioni img{
    margin:auto;
}

.footer{
    margin-top:40px;
    padding-top:10px;
    padding-bottom:10px;
    width:100%;
    height:40px;
    color:#fff;
    text-align:center;
    background-color: #013654 !important;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #004a74;
  }
}

@media screen and (max-width:767px){
    .header-slogan{
        display:none;
    }
}

@media (max-width:1439px){
    .header-slogan{
        left:0;
    }
}
