{% extends 'admin.html.twig' %}

{% block body %}
<div class="admin-container">
    <h3>Nuova Foto</h3>

    <div class="modal-body">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-success" type="submit" value="Crea" />
        {{ form_end(form) }}

        <ul class="admin-actions admin-actions-show">
            <li>
                <a class="btn btn-success" href="{{ path('admin_foto_index') }}">Torna alla lista</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
